PORT=5000
NODE_ENV=production

DB_HOST=db.hzrxiimkiddugfcibwgx.supabase.co
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=YOUR_PRODUCTION_DB_PASSWORD
DB_SSL=true

JWT_SECRET=16914dd53a525ae20747c4307058045730fd9bd3e5ea95ddd58ecebb3d1678e612cfe4a4bd5ba0b500db6baa7568582282365b5b12838993aace34978322a73a
JWT_REFRESH_SECRET=97c1a885f15f3e6d895be7c3dbc9f520d03c7fcb3c431716bd04740c606e7162fcada25077521333b884c15fd9c51b9e38054448cdce0a94b208a48244e02064
JWT_EXPIRES_IN=1h
JWT_REFRESH_EXPIRES_IN=7d

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
EMAIL_FROM=noreply@lendingapp.com

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=

SUPABASE_URL=
SUPABASE_SERVICE_KEY=
SUPABASE_STORAGE_BUCKET=lending-documents

FRONTEND_URL=http://localhost:5173
ALLOWED_ORIGINS=http://localhost:5173,https://lendpro-seven.vercel.app
